html {
  font-size: 20px;
}
h1 {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.header {
  background-color: black;
  text-align: center;
  width: 95%;
  margin: 50px auto 0 auto;
}

.iphone {
  display: block;
  text-align: center;
  margin: auto;
  width: 95%;
}

.general-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding-top: 3%;
  padding-bottom: 5%;
}

.corporate-text-container {
  width: 40%;
}

.nav ul {
  list-style-type: none;
}

.strategy:before {
  content: url('./img/strategy.png');
  margin-right: 15px;
}

.user-experience:before {
  content: url('./img/userExperience.png');
  margin-right: 15px;
}

.technology:before {
  content: url('./img/technology.png');
  margin-right: 15px;
}

.user-research-section {
  background-color: #e5e5e5;
  padding: 5%;
}
.user-research-text-container,
.action-builder-content,
.wireframe-text-container,
.ui-kit-title {
  width: 45%;
  margin-left: 16.5%;
}

.user-research-text-container {
  margin-bottom: 5%;
  margin-left: 20%;
}

.quotes-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.quotes-container blockquote {
  text-align: center;
  margin: 0px;
  padding: 25px;
  width: 16.5%;
  background-color: black;
}

.quotes-container blockquote p,
.quotes-container blockquote cite {
  color: white;
}

.user-experience-container {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 5%;
}

.action-builder-section {
  background-color: black;
}

.action-builder-content {
  color: white;

  padding: 5% 5% 0 5%;
}

.schemas-container {
  width: 45%;
  margin-left: 16.5%;
  padding: 5%;
}

.schemas-container img {
  width: 130%;
  margin-bottom: 50px;
}

.wireframe-container {
  background-color: black;
  margin-bottom: 5%;
}
.wireframe-text-container {
  color: white;
  padding: 5% 5% 0 5%;
}

.wireframe-container img {
  padding-bottom: 5%;
  width: 100%;
}

.visual-design-text-container {
  text-align: center;
  margin: auto;
  width: 30%;
  margin-bottom: 5%;
}

.visual-design-img-container {
  display: flex;
  margin: 0 20%;
  width: 100%;
  align-items: center;
}

.main-chart {
  position: relative;
  transform: translateX(-50%);
  margin: 0 2%;
}

.right-chart {
  transform: translateX(-130%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.arrow-container {
  text-align: right;
  margin-right: 15%;
  margin-top: 5%;
}

.arrow {
  border: 0;
  padding: 0;
  outline: 0;
  background: transparent;
  margin-right: 5%;
  margin-bottom: 5%;
}

.first-feature-text-container,
.second-feature-text-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.general-container.first-feature-container {
  margin: 0 5%;
}

.first-feature-img0 {
  position: absolute;
  transform: translateY(-10%);
}

.first-feature-img1 {
  position: relative;
  transform: translateY(-40%);
  transform: translateX(-10%);
  z-index: -1;
}

.second-feature-img0 {
  position: absolute;
  transform: translateX(10%);
}

.second-feature-img1 {
  position: relative;
  transform: translateX(10%);
  transform: translateY(-10%);
}

.ui-kit-development {
  background-color: #e5e5e5;
}

.ui-kit-grid {
  display: grid;
  grid-template-areas:
    'dropdowns colors iconography'
    'dropdowns cards cards';
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: 53%;
  grid-template-rows: 32%;
  margin: 0;
  padding-bottom: 10%;
}

.dropdowns {
  grid-area: dropdowns;
  height: 100%;
  width: auto;
}
.colors {
  grid-area: colors;
  max-height: 100%;
  max-width: 100%;
}
.iconography {
  grid-area: iconography;
  max-width: 90%;
  max-height: 100%;
}
.cards {
  grid-area: cards;
  max-height: 85%;
  width: 98%;
}

.ui-kit-title {
  padding: 5% 0 2% 2%;
}

.development-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10%;
  padding-bottom: 5%;
  background: linear-gradient(#e5e5e5 58%, black 42%);
}

.development-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
}

.more-container {
  display: flex;
  margin: 0;
  padding: 0;
}

.footer-nav {
  text-align: center;
  margin: auto;
}

.more-container img {
  max-height: auto;
  max-width: 33.4%;
}

.form-container {
  background-color: rgb(37, 35, 35);
  padding: 10% 25% 3% 25%;
}

.form-container form {
  color: rgb(82, 77, 77);
  font-size: 20px;
}

.form-container input {
  margin: 10% 0 20% 0;
  width: 90%;
  border: none;
  border-bottom: 2px solid white;
  padding: 15px 10px;
  outline: none;
  background-color: transparent;
}

.form-container img {
  filter: brightness(0) invert(1);
}

.email-placeholder {
  color: white;
  font-size: 25px;
}

.white-arrow-submit {
  border: none;
  border-bottom: 2px solid white;
  padding: 18px 0;
  outline: 0;
  background: transparent;
  z-index: 2;
  transform: translateX(-10px);
}

.form-container span {
  padding: 5% 0 5% 0;
  font-size: 12px;
}
